.grid {
    display: flex;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.square {
    border: 1px solid black;
    box-sizing: border-box;
    width: calc(100% / 16);
    height : calc(100% / 16);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    gap: 4px;
}
